<app-navbar></app-navbar>
<h1> mi primer programa en angular</h1>
<h1> Bienvenido {{nombre}} {{apellido}}</h1>
<h1> la suma de 25 + 45 es {{getsuma(25,45)}}</h1>
<img [src]="mario" width="200" >
<br>
<input type="text" [placeholder]="texto">
<button class="btn btn-primary" (click)="cambiartexto()">aceptar</button>
<br>
<input type="text" class="form-control" placeholder="escribe aqui tu nombre" [(ngModel)]="texto1"/>{{texto1}}
<br>
<table class="table" *ngIf="listarestudiante.length>0">
    <thead>
    <th>ID</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Estado</th>
</thead>
<tbody>
    <tr *ngFor="let lista of listarestudiante; let i=index">
        <td>{{i+1}}</td>
        <td [ngStyle]="{'font-style':lista.nombre=='ivar'?'italic':'normal'}" >{{lista.nombre}}</td>
        <td >{{lista.apellido}}</td>
        <td  ><span [ngClass]="lista.estado=='AP'?'bagde bg-danger':'bagde bg-secondary'">{{lista.estado}}</span></td>
    </tr>
</tbody>
</table>
<h3 *ngIf="listarestudiante.length==0">no hay registro a mostrar</h3>
<div class="container mt-4">
    <div class="row">
    <app-operaciones></app-operaciones>
</div>
</div>
